<!DOCTYPE html>

<html lang="zh-CN">

<head>
    
    <title>Reactive全家桶 - 折影轻梦</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="折影轻梦,Mixcm,轻惋,觅漫者,小舒同学,Xiaoshu,Nexmoe,产品,Meteor,探索者小舒,伴学OS1,Theme,Design,Product">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="02.Reactive全家桶reactive reactive(‘’)不支持string类型 查看源码可知，只支持引用类型，object、map、set 而ref都支持reactive在赋值时无需使用.value 而ref需要  &lt;template&gt;  &lt;div&gt;    &lt;p&gt;&amp;#123;&amp;#123;user.name&amp;#125;&amp;#125;--&amp;#123;&amp;#">
<meta property="og:type" content="article">
<meta property="og:title" content="Reactive全家桶">
<meta property="og:url" content="https://nexmoe.com/bian-cheng-yu-yan/vue/vue3/vue3-xue-xi/02.html">
<meta property="og:site_name" content="折影轻梦">
<meta property="og:description" content="02.Reactive全家桶reactive reactive(‘’)不支持string类型 查看源码可知，只支持引用类型，object、map、set 而ref都支持reactive在赋值时无需使用.value 而ref需要  &lt;template&gt;  &lt;div&gt;    &lt;p&gt;&amp;#123;&amp;#123;user.name&amp;#125;&amp;#125;--&amp;#123;&amp;#">
<meta property="og:locale" content="zh_CN">
<meta property="og:image" content="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132214501.png">
<meta property="og:image" content="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132214316.png">
<meta property="og:image" content="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132232965.png">
<meta property="og:image" content="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132234118.png">
<meta property="og:image" content="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132249201.png">
<meta property="article:published_time" content="2023-07-13T15:00:00.000Z">
<meta property="article:modified_time" content="2024-06-01T14:32:53.518Z">
<meta property="article:author" content="折影轻梦">
<meta property="article:tag" content="vue3">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132214501.png">
    
<link rel="stylesheet" href="/lib/fancybox/fancybox.css">
<link rel="stylesheet" href="/lib/mdui_043tiny/mdui.css">


    <link rel="stylesheet" href="/lib/iconfont/iconfont.css?v=1717252409368">
    
    <link rel="stylesheet" href="/css/style.css?v=1717252409368">

    
        
            <link rel="stylesheet" href="/custom.css?v=1717252409368">
        
    

    
<script src="/lib/mdui_043tiny/mdui.js" async></script>
<script src="/lib/fancybox/fancybox.umd.js" async></script>


    <script async src="/js/app.js?v=1717252409368"></script>
    
     

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4D4ZJ9G024"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag("js", new Date());

  gtag("config", "G-4D4ZJ9G024");
</script>

<meta name="generator" content="Hexo 6.3.0"></head>

<body class="mdui-drawer-body-left">
    <div id="nexmoe-background">
        <div class="nexmoe-bg" 
            style="background-image: url(https://raw.githubusercontent.com/IsUnderAchiever/blog-img/master/about/202309161102206.jpg)"
        ></div>
        <div class="mdui-appbar mdui-shadow-0">
            <div class="mdui-toolbar">
                <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
                <div class="mdui-toolbar-spacer"></div>
                <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
                <a href="/" title="折影轻梦" class="mdui-btn mdui-btn-icon"><img src="https://raw.githubusercontent.com/IsUnderAchiever/blog-img/master/about/202309161102017.jpg" alt="折影轻梦"></a>
            </div>
        </div>
    </div>
    <div id="nexmoe-header">
        <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="/" title="折影轻梦">
            <img src="https://raw.githubusercontent.com/IsUnderAchiever/blog-img/master/about/202309161102017.jpg" alt="折影轻梦" alt="折影轻梦">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span>文章</span>168</div>
        <div><span>标签</span>60</div>
        <div><span>分类</span>61</div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        
        <a class="nexmoe-list-item mdui-list-item mdui-ripple false" href="/" title="回到首页">
            <i class="mdui-list-item-icon nexmoefont icon-home"></i>
            <div class="mdui-list-item-content">
                回到首页
            </div>
        </a>
        
        <a class="nexmoe-list-item mdui-list-item mdui-ripple false" href="/archive.html" title="文章归档">
            <i class="mdui-list-item-icon nexmoefont icon-container"></i>
            <div class="mdui-list-item-content">
                文章归档
            </div>
        </a>
        
        <a class="nexmoe-list-item mdui-list-item mdui-ripple false" href="/life.html" title="我的生活">
            <i class="mdui-list-item-icon nexmoefont icon-unorderedlist"></i>
            <div class="mdui-list-item-content">
                我的生活
            </div>
        </a>
        
        <a class="nexmoe-list-item mdui-list-item mdui-ripple false" href="/about.html" title="关于博主">
            <i class="mdui-list-item-icon nexmoefont icon-info-circle"></i>
            <div class="mdui-list-item-content">
                关于博主
            </div>
        </a>
        
    </div>
    <aside id="nexmoe-sidebar">
        
            
            <div class="nexmoe-widget-wrap">
    <div class="nexmoe-widget nexmoe-search">
        
            <form id="search_form">
                <label><input class="st-default-search-input" id="search_value" name="q" type="search" placeholder="搜索" style="
                    font-size: 15px !important;
                    height: 56px !important;
                    background-image: none;
                "></label>
            </form>
         
    </div>
</div>


	<script async src="/js/search.js?v=1717252409368"></script>



        
            
            <div class="nexmoe-widget-wrap">
	<div class="nexmoe-widget nexmoe-social">
		<a
			class="mdui-ripple"
			href="http://wpa.qq.com/msgrd?v=3&uin=938798576&site=qq&menu=yes"
			target="_blank"
			mdui-tooltip="{content: 'QQ群'}"
			style="
				color: rgb(249, 174, 8);
				background-color: rgba(249, 174, 8, .1);
			"
		>
			<i
				class="nexmoefont icon-QQ"
			></i> </a
		><a
			class="mdui-ripple"
			href="https://space.bilibili.com/477448861/"
			target="_blank"
			mdui-tooltip="{content: '哔哩哔哩'}"
			style="
				color: rgb(231, 106, 141);
				background-color: rgba(231, 106, 141, .1);
			"
		>
			<i
				class="nexmoefont icon-bilibili"
			></i> </a
		>
	</div>
</div>

        
            
            
            
            
            
            
    </aside>
    <div class="nexmoe-copyright">
        &copy; 2024 折影轻梦
        Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
        
    </div>
</div><!-- .nexmoe-drawer -->
    </div>
    <div id="nexmoe-content">
        <div class="nexmoe-primary">
    <div class="nexmoe-post">
  <article>
    
        <div class="nexmoe-post-cover"> 
            <img src="https://raw.githubusercontent.com/IsUnderAchiever/blog-img/master/about/202309161102206.jpg" alt="Reactive全家桶" loading="lazy">
            <h1>Reactive全家桶</h1>
        </div>
    
    
    <div class="nexmoe-post-meta">
    <div class="nexmoe-rainbow">
        <a class="nexmoefont icon-calendar-fill">2023年07月13日</a>
        
            <a class="nexmoefont icon-appstore-fill -link" href="/categories/vue3/">vue3</a>
        
        
    </div>
    
    
    
    
    
</div>

    <h1 id="02-Reactive全家桶"><a href="#02-Reactive全家桶" class="headerlink" title="02.Reactive全家桶"></a>02.Reactive全家桶</h1><h2 id="reactive"><a href="#reactive" class="headerlink" title="reactive"></a>reactive</h2><blockquote>
<p>reactive(‘’)不支持string类型</p>
<p>查看源码可知，只支持引用类型，object、map、set</p>
<p>而ref都支持<br><img onerror="imgOnError(this);" data-fancybox="gallery" src="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132214501.png" alt="image-20230713221217293" data-caption="image-20230713221217293" loading="lazy"><br><img onerror="imgOnError(this);" data-fancybox="gallery" src="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132214316.png" alt="image-20230713221436279" data-caption="image-20230713221436279" loading="lazy"><br>reactive在赋值时无需使用<code>.value</code></p>
<p>而ref需要</p>
</blockquote>
<figure class="highlight plaintext"><table><tr><td class="code"><pre><code class="hljs vue">&lt;template&gt;<br>  &lt;div&gt;<br>    &lt;p&gt;&#123;&#123;user.name&#125;&#125;--&#123;&#123;user.gender&#125;&#125;&lt;/p&gt;<br>  &lt;/div&gt;<br>  &lt;a-button danger @click=&quot;test1&quot;&gt;test1&lt;/a-button&gt;<br>&lt;/template&gt;<br>&lt;script setup lang=&quot;ts&quot;&gt;<br>import &#123;defineComponent, reactive, ref&#125; from &#x27;vue&#x27;;<br>import &#123;Button&#125; from &quot;ant-design-vue&quot;;<br>let user=reactive(&#123;<br>  name:&#x27;马小跳&#x27;,<br>  gender:&#x27;男&#x27;<br>&#125;);<br>let test1=()=&gt;&#123;<br>  user.name=&#x27;洛洛&#x27;;<br>  console.log(user);<br>&#125;<br>&lt;/script&gt;<br>&lt;style scoped&gt;<br>&lt;/style&gt;<br></code></pre></td></tr></table></figure>
<blockquote>
<p>阻止默认事件</p>
<p><code>@click.prevent</code></p>
</blockquote>
<figure class="highlight html"><table><tr><td class="code"><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">form</span>&gt;</span><br>    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> @<span class="hljs-attr">click.prevent</span>=<span class="hljs-string">&quot;test1&quot;</span>&gt;</span>test2<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span><br><span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span><br></code></pre></td></tr></table></figure>
<blockquote>
<p>reactive是经过proxy代理的对象，直接赋值会失去响应式</p>
</blockquote>
<figure class="highlight plaintext"><table><tr><td class="code"><pre><code class="hljs vue">&lt;template&gt;<br>  &lt;div&gt;<br>    &lt;p v-for=&quot;user in users&quot;&gt;&#123;&#123;user&#125;&#125;&lt;/p&gt;<br>  &lt;/div&gt;<br>  &lt;a-button danger @click=&quot;test1&quot;&gt;test1&lt;/a-button&gt;<br>&lt;/template&gt;<br>&lt;script setup lang=&quot;ts&quot;&gt;<br>import &#123;defineComponent, reactive, ref&#125; from &#x27;vue&#x27;;<br>let users=reactive&lt;string[]&gt;([]);<br>let test1=()=&gt;&#123;<br>  // 假设res为获取到的数据<br>  let res=[&#x27;小满&#x27;,&#x27;辣辣&#x27;,&#x27;路西&#x27;];<br>  // 失去响应式<br>  users=res;<br>  console.log(users);<br>&#125;<br>&lt;/script&gt;<br></code></pre></td></tr></table></figure>
<blockquote>
<p>正确方法如下<br><strong>方法1</strong></p>
</blockquote>
<figure class="highlight plaintext"><table><tr><td class="code"><pre><code class="hljs vue">&lt;template&gt;<br>  &lt;div&gt;<br>    &lt;p v-for=&quot;user in users&quot;&gt;&#123;&#123;user&#125;&#125;&lt;/p&gt;<br>  &lt;/div&gt;<br>  &lt;a-button danger @click=&quot;test1&quot;&gt;test1&lt;/a-button&gt;<br>&lt;/template&gt;<br>&lt;script setup lang=&quot;ts&quot;&gt;<br>import &#123;defineComponent, reactive, ref&#125; from &#x27;vue&#x27;;<br>let users=reactive&lt;string[]&gt;([]);<br>let test1=()=&gt;&#123;<br>  // 假设res为获取到的数据<br>  let res=[&#x27;小满&#x27;,&#x27;辣辣&#x27;,&#x27;路西&#x27;];<br>  // 正确方法1<br>  // 结构后赋值<br>  users.push(...res);<br>  console.log(users);<br>&#125;<br>&lt;/script&gt;<br></code></pre></td></tr></table></figure>
<p><strong>方法2</strong></p>
<figure class="highlight plaintext"><table><tr><td class="code"><pre><code class="hljs vue">&lt;template&gt;<br>  &lt;div&gt;<br>    &lt;p v-for=&quot;user in users.arr&quot;&gt;&#123;&#123;user&#125;&#125;&lt;/p&gt;<br>  &lt;/div&gt;<br>  &lt;a-button danger @click=&quot;test1&quot;&gt;test1&lt;/a-button&gt;<br>&lt;/template&gt;<br>&lt;script setup lang=&quot;ts&quot;&gt;<br>import &#123;defineComponent, reactive, ref&#125; from &#x27;vue&#x27;;<br>let users=reactive&lt;&#123;arr:string[]&#125;&gt;(&#123;arr:[]&#125;);<br>let test1=()=&gt;&#123;<br>  // 假设res为获取到的数据<br>  let res=[&#x27;小满&#x27;,&#x27;辣辣&#x27;,&#x27;路西&#x27;];<br>  // 正确方法2<br>  users.arr=res;<br>  console.log(users);<br>&#125;<br>&lt;/script&gt;<br></code></pre></td></tr></table></figure>
<h2 id="readonly"><a href="#readonly" class="headerlink" title="readonly"></a>readonly</h2><blockquote>
<p>无法修改readonly修饰的值，报错<code>Attempt to assign to const or readonly variable </code><br><img onerror="imgOnError(this);" data-fancybox="gallery" src="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132232965.png" alt="image-20230713223221913" data-caption="image-20230713223221913" loading="lazy"><br>但是会受<code>reactive</code>影响</p>
</blockquote>
<figure class="highlight plaintext"><table><tr><td class="code"><pre><code class="hljs vue">&lt;template&gt;<br>  &lt;a-button danger @click=&quot;test1&quot;&gt;test1&lt;/a-button&gt;<br>&lt;/template&gt;<br>&lt;script setup lang=&quot;ts&quot;&gt;<br>import &#123;defineComponent, reactive, readonly, ref&#125; from &#x27;vue&#x27;;<br>import &#123;message&#125; from &quot;ant-design-vue&quot;;<br>let user=reactive(&#123;name:&#x27;小荷&#x27;&#125;);<br>const readUser=readonly(user);<br>let test1=()=&gt;&#123;<br>  user.name=&#x27;小满&#x27;;<br>  message.success(readUser.name)<br>&#125;<br>&lt;/script&gt;<br></code></pre></td></tr></table></figure>
<p><img onerror="imgOnError(this);" data-fancybox="gallery" src="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132234118.png" alt="image-20230713223406071" data-caption="image-20230713223406071" loading="lazy"></p>
<h2 id="shallowReactive"><a href="#shallowReactive" class="headerlink" title="shallowReactive"></a>shallowReactive</h2><blockquote>
<p>与<code>shallowRef</code>类似</p>
<p><code>只能对浅层的数据 如果是深层的数据只会改变值 不会改变视图</code></p>
</blockquote>
<figure class="highlight plaintext"><table><tr><td class="code"><pre><code class="hljs vue">&lt;template&gt;<br>  &#123;&#123; user.name.firstName &#125;&#125;&#123;&#123; user.name.lastName &#125;&#125;--&#123;&#123;user.gender&#125;&#125;<br>  &lt;a-button danger @click=&quot;test1&quot;&gt;test1&lt;/a-button&gt;<br>&lt;/template&gt;<br>&lt;script setup lang=&quot;ts&quot;&gt;<br>import &#123;defineComponent, reactive, readonly, ref, shallowReactive&#125; from &#x27;vue&#x27;;<br>import &#123;message&#125; from &quot;ant-design-vue&quot;;<br>let user = shallowReactive(&#123;<br>  name: &#123;<br>    firstName: &#x27;赵&#x27;,<br>    lastName: &#x27;子龙&#x27;<br>  &#125;,<br>  gender: &#x27;男&#x27;<br>&#125;);<br>let test1 = () =&gt; &#123;<br>  user.name.firstName = &#x27;貂&#x27;<br>  user.name.lastName = &#x27;蝉&#x27;<br>  user.gender = &#x27;女&#x27;<br>&#125;<br>&lt;/script&gt;<br></code></pre></td></tr></table></figure>
<p><img onerror="imgOnError(this);" data-fancybox="gallery" src="https://raw.githubusercontent.com/IsUnderAchiever/markdown-img/master/PicGo01/202307132249201.png" alt="image-20230713224921165" data-caption="image-20230713224921165" loading="lazy"></p>
<blockquote>
<p>不是说好不改变视图的吗？</p>
<p>和<code>shallowRef</code>一样，shallowReactive也会受reactive影响</p>
<p>当gender属性改变时，触发了强制更新</p>
<p>所以如下代码即可</p>
</blockquote>
<figure class="highlight plaintext"><table><tr><td class="code"><pre><code class="hljs vue">&lt;template&gt;<br>  &#123;&#123; user.name.firstName &#125;&#125;&#123;&#123; user.name.lastName &#125;&#125;--&#123;&#123;user.gender&#125;&#125;<br>  &lt;a-button danger @click=&quot;test1&quot;&gt;test1&lt;/a-button&gt;<br>&lt;/template&gt;<br>&lt;script setup lang=&quot;ts&quot;&gt;<br>import &#123;defineComponent, reactive, readonly, ref, shallowReactive&#125; from &#x27;vue&#x27;;<br>import &#123;message&#125; from &quot;ant-design-vue&quot;;<br>let user = shallowReactive(&#123;<br>  name: &#123;<br>    firstName: &#x27;赵&#x27;,<br>    lastName: &#x27;子龙&#x27;<br>  &#125;,<br>  gender: &#x27;男&#x27;<br>&#125;);<br>let test1 = () =&gt; &#123;<br>  user.name.firstName = &#x27;貂&#x27;<br>  user.name.lastName = &#x27;蝉&#x27;<br>  // user.gender = &#x27;女&#x27;<br>&#125;<br>&lt;/script&gt;<br></code></pre></td></tr></table></figure>

    
  </article>

  
      

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
   
    
        <a class="nexmoefont icon-tag-fill -none-link" href="/tags/vue3/" rel="tag">vue3</a>
    
</div>
  
  

  
      <div class="nexmoe-post-footer">
          <script src="https://giscus.app/client.js"
    data-repo="nexmoe/nexmoe.com"
    data-repo-id="R_kgDOJI1XUA"
    data-category="General"
    data-category-id="DIC_kwDOJI1XUM4CU1nn"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
</script>

      </div>
  
</div>
</div>
        <div class="nexmoe-post-right">
              <div class="nexmoe-fixed">
                  <div class="nexmoe-tool"> 
                    
                      
                        
                          
                          
                              <button class="mdui-fab catalog" style="overflow:unset;">
                                  <i class="nexmoefont icon-i-catalog"></i>
                                  <div class="nexmoe-toc">
                                      <ol class="toc"><li class="toc-item toc-level-1"><a class="toc-link" href="#02-Reactive%E5%85%A8%E5%AE%B6%E6%A1%B6"><span class="toc-number">1.</span> <span class="toc-text">02.Reactive全家桶</span></a><ol class="toc-child"><li class="toc-item toc-level-2"><a class="toc-link" href="#reactive"><span class="toc-number">1.1.</span> <span class="toc-text">reactive</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#readonly"><span class="toc-number">1.2.</span> <span class="toc-text">readonly</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#shallowReactive"><span class="toc-number">1.3.</span> <span class="toc-text">shallowReactive</span></a></li></ol></li></ol>
                                  </div>
                              </button>
                          
                          
                      
                    
                      <a href="#nexmoe-content" class="toc-link" aria-label="Back To Top" title="top"><button class="mdui-fab mdui-ripple"><i class="nexmoefont icon-caret-top"></i></button></a>
                  </div>
              </div>
            </div>
    </div>
    <div id="nexmoe-search-space">
	<div class="search-container">
		<div class="search-header">
			<div class="search-input-container">
				<input
					class="search-input"
					type="text"
					placeholder="搜索"
					oninput="sinput();"
				/>
			</div>
			<a class="search-close" onclick="sclose();">×</a>
		</div>
		<div class="search-body"></div>
	</div>
</div>

    
    
</body>

</html>
